*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}

header{
    display: flex;
    background-color: #4B93BF;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    font-size: 28px;
}

.logo-website{
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-website figure {
    padding-top: 20px;
}

.logo-website p {
    color: white;
}

nav{
    width: 50vw;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
}

main{
    background-color: #E4EEF1;
}

main .start-winter{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}

.start-winter p {
    width: 40vw;
    font-size: 22px;
    color: #0F468C;
}

main .CTA-information{
    display: flex;
    height: 40vh;
    background-color: #4B93BF;
    justify-content: space-around;
    align-items: center;
}

.CTA-information figure{
    margin-top: 20px;
}

.CTA-information p {
    font-size: 30px;
    width: 35vw;
}

main .gallery {
    height: 60vh;
}

.gallery figure {
    display: flex;
    justify-content: space-between;
}

.gallery .bear3{
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B93BF;
}

.socials  figure{
    width: 25vw;
    display: flex;
    align-items: center;
}

.work-information{
    margin-right: 13vw;
}

.work-information li {
    text-align: center;
    list-style: none;
    color: #E4EEF1;
}

.crazy-penguin img{
    margin-right: 30px;
}

